*{
  margin: 0px;
  font-family: Arial;
  border: border-box;
}

nav{
  width: 100%;
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
}

.nav-logo{
  height: 50px;
  width: 9%;
  background-image: url(images/amazon_logo.png);
  background-size: cover;
}

.nav-address{
  height: 50px;
  width: 6%;
  border: 1px solid white;
}

.search{
  height: 50px;
  width: 55%;
  border: 1px solid white;
  display: flex;
}

.dropdown{
  height: 50px;
  width: 8%;
  border: 1px solid white;
}

.search input{
  height: 50px;
  width: 86%;
}

.search .searchicon{
  height: 50px;
  width: 7%;
  border: 1px solid white;
  font-size: 30px;
  text-align: center;
}

.lan{
  height: 50px;
  width: 5%;
  border: 1px solid white;
  text-align: center;
}

.sign{
  width: 9%;
  height: 50px;
}

.return{
  width: 8%;
  height: 50px;
  border: 1px solid white;
}

.cart{
  width: 8%;
  height: 50px;
  border: 1px solid white;
}
/* .logo{
  background-image: url(images/amazon_logo.png);
  height: 50px;
  width: 100%;
  background-size: cover;
} */

/* .border{
  border: 1.5px solid transparent;
}

.border :hover{
  border: 1.5px solid white;
} */
